* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #E19720;
}

.outer-container {
    width: 800px;
    margin: 0 auto;
}

.container {
    width: 390px;
    margin: 40px auto;
    background-color: #ecf0f1;
    border-radius: 10px;
    color: #222;
    padding: 10px;
    display: inline-block;
}

.todone-container {
    text-align: center;
    float: right;
}

.container h1 {
    text-align: center;
    margin-bottom: 5px;
}

.tip-p {
    text-align: center;
    font-size: 0.8rem;
    margin: 0;
}

.title-p {
    text-align: center;
    font-size: 1.3rem;
}

#add-event {
    margin-left: 20px;
    font-size: 1.3rem;
}

#item-input {
    font-size: 1rem;
    width: 65%;
}

.item-box {
    width: 330px;
    height: auto;
    margin: 20px auto;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.3rem;
    text-align: center;
}

.item-box:hover {
    cursor: pointer;
}

.item-box p {
    margin: 10px auto;
}

.btns-container {
    height: 30px;
    margin: 10px auto;
}

.btn-box {
    width: 32%;
    display: inline-block;
}

.btn {
    font-size: 1rem;
    color: #fff;
    border-radius: 10px;
    padding: 5px 15px;
    transition: background-color 0.4s, color 0.4s;
}

.btn:hover {
    cursor: pointer;
    background-color: #fff;
    color: #222222;
    transition: background-color 0.4s, color 0.4s;
}

.add-item-btn,
.update-item-btn {
    font-size: 0.9rem;
    background-color: #27ae60;
    padding: 3px 15px;
    border: 0.5px solid #27ae60;
}

.main-add-btn {
    float: right;
    margin-right: 20px;
}

.done-item-btn {
    background-color: #27ae60;
    border: 0.5px solid #27ae60;
}

.edit-item-btn {
    background-color: #2980b9;
    border: 0.5px solid #2980b9;
}

.delete-item-btn {
    background-color: #e74c3c;
    border: 0.5px solid #e74c3c;
}

.reinstate-item-btn {
    background-color: #2980b9;
    font-size: 1rem;
    padding: 3px 15px;
    border: 0.5px solid #2980b9;
}

.cancel-btn {
    background-color: #222;
    border: 0.5px solid #222;
    margin-left: 10px;
}

.item-border {
    width: 90%;
    height: 0;
    padding: 0;
    margin: 0 auto;
    border: 0.5px solid #E19720;
    border-radius: 10px;
    overflow: auto;
    text-align: center;
    transition: height 0.6s, padding 0.6s;
}

.update-input {
    width: 85%;
    font-size: 1rem;
    border: 0.5px solid #eee;
    margin-bottom: 10px;
    text-align: center;
}
.title-todone-p {
    font-size: 1.3rem;
    margin-bottom: 40px;
}

.todone-p {
    display: inline-block;
}

.todone-item-box {
    text-align: center;
    overflow: auto;
}
